* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Background Color */
.bg-aqua {
    background-color: aqua;
}

.bg-yellow {
    background-color: yellow;
}

.bg-palet {
    background-color: palevioletred;
}

.bg-pink {
    background-color: pink;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.bg-light-gray {
    background-color: lightgray;
}

.bg-white {
    background-color: white;
}

.bg-dark-slate-gray {
    background-color: darkslategray;
}

.bg-plum {
    background-color: plum;
}

.bg-aquamarine {
    background-color: aquamarine;
}

/* Classi */
.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 20px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sezione {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* display: flex; */
    /* width: 800px; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.w-max-800 {
    max-width: 800px;
}

/* Tag */
ul {
    display: flex;
}

li {
    margin-left: 10px;
}

/* Utilities */
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.w-800 {
    width: 800px;
}

.w-600 {
    width: 600px;
}
.w-400 {
    width: 400px;
}

.w-500 {
    width: 500px;
}
.w-300 {
    width: 300px;
}

.h-400 {
    height: 400px;
}

.h-300 {
    height: 300px;
}
.h-30 {
    height: 30px;
}
.h-500 {
    height: 500px;
}
.h-50 {
    height: 50px;
}

.h-600 {
    height: 600px;
}
.h-800 {
    height: 800px;
}

.big-w {
    /* width: 100px; */
    width: 60%;
}

.small-w {
    /* width:80px; */
    width: 40%;
}
.reverse{
    flex-direction: row-reverse;
}
.full-w{
    width: 100%;
}

.w-30 {
    /* width:80px; */
    width: 30%;
}
.w-70-4{
    width: calc(70% / 4);
    border: 1px dotted white;
}

br{
    color: gray;
}
.footer{
    height: 50px;
}
.border-bottom-gray{
    border-bottom: 1px solid lightgray;
}
.cross-flex-end{
    align-items: flex-end;
}
button{
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: palevioletred;
}